  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
            background: url("bg1.avif") no-repeat center center/cover;
            height: 100vh;
            background-attachment: fixed;
}
.start{
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 22px;
    margin-top: 65px;
}
.tagline{
    font-size: 10px;
    letter-spacing: 8px;
    padding-top: 47px;
    color: #f8f0f0ae ;
    

}
.coming{
    font-size: 36px;
    margin-top: 57px;
    letter-spacing: 2px;
}
.description{
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.7;
    color:rgba(248, 240, 240, 0.816)  ;
}
.loginform{
    width: 300px;
    background-color: transparent;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.Notify{
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10%;
    color: white;


}
label{
    font-size: 14px;
    letter-spacing: 2px;
    color: #f8f0f0ae;
    padding-bottom: 10px;

}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #555;
    color: white;
    border-radius: 10px;
    
}
button {
    width: 100%;
    padding: 12px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}

button:hover {
    background: #dddddd2d;
    transform: scale(1.1);
    color: aliceblue;
}
.connect{
    margin-top: 10%;
    font-size: 14px;
    letter-spacing: 2px;
}
.footer{
    margin-top: 25%;
    font-size: 25px;
    letter-spacing: 3px;
    
}
.secondlast{
    margin-top: 12px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #bab9b9;
}
.last{
    margin-top: 10px;
    font-size: 13px;
    color: #8a8888;
    width: 100%;
    white-space: nowrap;
}